
EntityFrameworkCore/.vs/EntityFrameworkCore/DesignTimeBuild/.dtbcache.v2
EntityFrameworkCore/.vs/EntityFrameworkCore/DesignTimeBuild/.dtbcache.v2
EntityFrameworkCore/.vs/EntityFrameworkCore/v16/.suo
EntityFrameworkCore/.vs/EntityFrameworkCore/DesignTimeBuild/.dtbcache.v2
EntityFrameworkCore/.vs/EntityFrameworkCore/v16/.suo
EntityFrameworkCore/.vs/EntityFrameworkCore/v16/TestStore/0/002.testlog
EntityFrameworkCore/EntityFrameworkCore.Data/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Data.dll
EntityFrameworkCore/EntityFrameworkCore.Data/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Data.pdb
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.assets.cache
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.csproj.CoreCompileInputs.cache
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.csprojAssemblyReference.cache
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.dll
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.genruntimeconfig.cache
EntityFrameworkCore/EntityFrameworkCore.Data/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Data.pdb
EntityFrameworkCore/EntityFrameworkCore.Data/obj/EntityFrameworkCore.Data.csproj.nuget.dgspec.json
EntityFrameworkCore/EntityFrameworkCore.Data/obj/EntityFrameworkCore.Data.csproj.nuget.g.props
EntityFrameworkCore/EntityFrameworkCore.Data/obj/project.assets.json
EntityFrameworkCore/EntityFrameworkCore.Data/obj/project.nuget.cache
EntityFrameworkCore/EntityFrameworkCore.Teste/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Data.dll
EntityFrameworkCore/EntityFrameworkCore.Teste/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Data.pdb
EntityFrameworkCore/EntityFrameworkCore.Teste/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.dll
EntityFrameworkCore/EntityFrameworkCore.Teste/bin/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.pdb
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.assets.cache
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.csprojAssemblyReference.cache
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.dll
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.genruntimeconfig.cache
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/Debug/netcoreapp3.1/EntityFrameworkCore.Teste.pdb
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/EntityFrameworkCore.Teste.csproj.nuget.dgspec.json
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/EntityFrameworkCore.Teste.csproj.nuget.g.props
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/project.assets.json
EntityFrameworkCore/EntityFrameworkCore.Teste/obj/project.nuget.cache
